@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 
    -apple-system, 
    BlinkMacSystemFont, 
    Segoe UI, 
    Roboto, 
    Oxygen,
    Ubuntu, 
    Cantarell, 
    Fira Sans, 
    Droid Sans, 
    Helvetica Neue, 
    sans-serif;
}

small { font-size: 11px; }
p { font-size: 13px; }
ul { font-size: 13px; } 

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@mixin gradient_bpr {
  background: rgb(83,109,254);
  background: -moz-linear-gradient(90deg, rgba(83,109,254,1) 0%, rgba(126,87,194,1) 35%, rgba(233,30,99,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(83,109,254,1) 0%, rgba(126,87,194,1) 35%, rgba(233,30,99,1) 100%);
  background: linear-gradient(90deg, rgba(83,109,254,1) 0%, rgba(126,87,194,1) 35%, rgba(233,30,99,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#536dfe",endColorstr="#e91e63",GradientType=1); 
}

.navbar-brand {
  h2 {
    color: linear-gradient(90deg, rgba(83,109,254,1) 0%, rgba(126,87,194,1) 35%, rgba(233,30,99,1) 100%);
  }
}

.color_bpr {
  color: linear-gradient(90deg, rgba(83,109,254,1) 0%, rgba(126,87,194,1) 35%, rgba(233,30,99,1) 100%);
}

.container_xy {
  min-height: 100vh;
  .content_xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}


